<h1>Quadratic Formula Calculator</h1>
<form action="/quadratic_calculator" method="post" id="quadraticForm">
  <div>
    <label for="coefficient_a_input">
      a =
    </label>

    <input id="coefficient_a_input" type="number" name="a_value" value="<%= @a %>" placeholder="coefficient a">
  </div>
<br>
  <div>
    <label for="coefficient_b_input">
      b =
    </label>

    <input id="coefficient_b_input" type="number" name="b_value" value="<%= @b %>" placeholder="coefficient b">
  </div>
<br>
  <div>
    <label for="coefficient_c_input">
      c =
    </label>

    <input id="coefficient_c_input" type="number" name="c_value" value="<%= @c %>" placeholder="coefficient c">
  </div>
  <br>
<button type="button" onclick="clearForm()">
    Clear
  </button>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <button type="submit">
    Calculate
  </button>
  <br><br>
  <div>
    <label for="answer">
    </label>

    <input id="answer" type="text" name="result" value="Answer: <%= @root1 %>, <%=@root2 %>">
  </div>
  
</form>
<script>
  function clearForm() {
    document.getElementById("quadraticForm").reset();
  }
</script>
